*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}

.con{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    gap: 1.5em;
}

button{
    width: 30%;
}

.con > h1{
    font-size: 80px;
}